= simple_form_for @ffmpeg, html:{ multipart: true } do |f|
  - if @ffmpeg.errors.any?
    =#errors
      %p
        = @ffmpeg.errors.count
        preventing from saving
      %ul
        - @ffmpeg.errors.full_messages.each do |msg|
        %li= msg
  %div.panel-body
    = f.input :title, input_html: { class: 'form-control' }
    = f.input :description, input_html: { class: 'form-control' }
    = f.input :video, as: :file

    = f.simple_fields_for :conversion_option, @ffmpeg.conversion_option do |option|
      = option.select :file_type, @options_formate, :prompt => "File formate", :class => 'genForm_dropBox'
      = option.select :resolution, @options_resolution, :prompt => "Resolution", :class => 'genForm_dropBox'
      = option.input :frame_rate, collection: 3..30, prompt: "Frame Rate", selected: 7
  = f.button :submit, "Custom Button Text", class: "my-button"
